.main-content {
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  //background-color: white;
  //box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rzm-header-bar{
  background-color: #d4d7db !important;
  color: #6c6a77;
  padding: 1rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  font-weight: 500;
}

