$white: #fefefe;
$black: #0a0a0a;
$green: #79a341;
$red: #bb0000;
$blue10: #022c48;

$icann-blue: #002b49;
$icann-alt-blue: #005581;
$icann-green: #79a341;
$icann-red: #bb0000;
$icann-orange: #e87724;

/*---------------------------
 * Functional Color Names
 *---------------------------*/

$approvedBackgroundColor: #79a341;
$pendingBackgroundColor: #f1a31e;
$deniedBackgroundColor: #640b0f;
$revokedBackgroundColor: #bb0000;
$submittedBackgroundColor: #005581;
$expiredBackgroundColor: #53565a;


$headerFooterColor: -webkit-linear-gradient(top, #ffffff 0%, rgba(223, 227, 230, 0.7) 97%, #dfe3e6 100%);
$headerMenuItemColor: #002B29;
$footerHoverColor: #6d99b3;


$headingColor: #022c48;

$paragraphColor: #022c48;
$small-screen: 900px;

$sucessORGoodColor: #197F86;
$failureOrBadColor: #B21F24;
$warningOrCautionColor: #C3561A;
